<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>template</title>
</head>

<body>
    <!-- 发送图片的模板 -->
    <div id="msg-image">
        <div class="direct-chat-msg">
            <img src="" data-original="" alt="">
            <script>
                /*
                 * 缩略图查看
                 */
                $('#chatWindowDiv').viewer({
                    url: 'data-original',
                    toolbar:false,
                    navbar:false,
                    //movable:false,
                });   
            </script>
        </div>
    </div>
    
    <!-- 左侧的消息框,对方的消息  -->
    <div id="msg-left">
        <div class="direct-chat-msg">
            <div class="direct-chat-info clearfix">
                <!-- <span class="direct-chat-name pull-left">用户</span> -->
                <span class="direct-chat-timestamp pull-left"></span>
            </div>
            <!-- /.direct-chat-info -->
            <img id='chatWindow-avatar' alt="message user image" src="/public/libs/adminLTE/img/user1-128x128.jpg" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <!-- <div class="direct-chat-text"></div> -->
            <div class="dctl"></div>
            <!-- /.direct-chat-text -->
        </div>
    </div>

    <div id="msg-right">
        <!-- 右侧的消息框,本人的消息 -->
        <div class="direct-chat-msg right">
            <div class="direct-chat-info clearfix">
                <!-- <span class="direct-chat-name pull-right">客服</span> -->
                <span class="direct-chat-timestamp pull-right"></span>
            </div>
            <!-- /.direct-chat-info -->
            <img alt="message user image" src="/public/app/img/avatar/kfavatar.png" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <!-- <div style="text-align:right;" class="direct-chat-text"></div> -->
            <div class="dctr"></div>
            <!-- /.direct-chat-text -->
        </div>
    </div>
                        
    <div id='chatWindow'>
        <div id='chatWindowDiv' class="box direct-chat direct-chat-success">
            <div id="box-header" class="box-header with-border">
                <h3 id='chatWindow-username' class="box-title"></h3>
                <span class="close-chat" id="closeChat">关闭</span>
            </div>
            <!-- /.box-header -->
            <div  class="box-body">
                <!-- Conversations are loaded here -->
                <div id="box-body" class="direct-chat-messages">
                    <div id="msg_end" style="height:0px; overflow:hidden"></div>
                </div>
                <!--/.direct-chat-messages-->
                <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            
            <div class="box-footer">
                <div class="btnbar">
                    <!-- <span>表情</span> -->
                    <form method="post"  action="" enctype="multipart/form-data" style="display: none;">
                        <input id="imageUpload" type="file" name="fileUpload" />
                    </form>
                    <span onclick="$('#imageUpload').click();">图片</span>
                </div>
                <div class="chat-enter">
                   <textarea  id="msg-input" name="message" placeholder="请输入..."></textarea>
                    <!-- <input id="msg-input" type="text" name="message" placeholder="请输入..." /> -->
                </div>
                <span id="say" class="send-msg">发送</span>
                <!-- <div class="input-group">
                    <input id="msg-input" type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button id="say" type="button" class="btn btn-success btn-flat">Send</button>
                    </span>
                </div> -->
            </div>
            <!-- /.box-footer-->
        </div>
    </div>

</body>

</html>
