<!DOCTYPE html>
<html ng-app='chatApp'>

<head>
    <meta charset="utf-8">
    <title>chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/public/libs/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/public/libs/flat-ui/css/flat-ui.css"> -->
    <link rel="stylesheet" href="/public/libs/adminLTE/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/public/libs/bootstrap.switch/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/public/app/css/main.css">
    <link rel="stylesheet" href="/public/app/css/chat.css">
    <link rel="stylesheet" href="/public/app/css/viewer/viewer.min.css">
    <style media="screen">

    </style>
</head>

<body>
    <div class="container" id="container">
        <div class="row chat-container">
            <div class="row">
                <!-- <form class="form-horizontal">
                    <span class="form-group">
                        <label for="" class='control-label'>通知声音</label>
                        <input type="checkbox" name="my-checkbox" checked>
                    </span>
                </form> -->
                <span class="exit">退出</span>
                <!-- userList -->
                <div class="col-sm-3 chat-userlist-container">
                    <div class='self-avatar'>
                        <div class="ava-pic">
                            <img src="/public/app/img/avatar/kfavatar.png" alt="客服默认头像" />
                        </div>
                        <span class="uname">游云客服系统</span>
                    </div>
                    <user-list></user-list>
                </div>
                <!-- chat window -->
                <div class="col-sm-6 chat-messagewindow-container">
                    <div id="chatWindowDiv">
                        <div id='chatWindowDiv' class="box direct-chat direct-chat-success">
                            <div id="box-header" class="box-header with-border">
                                <h3 id='chatWindow-username' class="box-title">游云客服系统</h3>
                                <!-- <span class="close-chat">关闭</span> -->
                            </div>
                            <!-- /.box-header -->
                            <div  class="box-body">
                                <!-- Conversations are loaded here -->
                                <div id="box-body" class="direct-chat-messages">
                                    <div id="msg_end" style="height:0px; overflow:hidden"></div>
                                </div>
                                <!--/.direct-chat-messages-->
                                <!-- /.direct-chat-pane -->
                            </div>
                            <!-- /.box-body -->
                            
                            <div class="box-footer">
                                <div class="btnbar">
                                    <!-- <span>表情</span> -->
                                    <!-- <span>图片</span> -->
                                </div>
                                <div class="chat-enter">
                                    <textarea  id="msg-input" name="message" placeholder="请输入..."></textarea>
                                    <!-- <input id="" type="text" name="message" placeholder="请输入..." /> -->
                                </div>
                                <span id="say" class="send-msg">发送</span>
                                <!-- <div class="input-group">
                                    <input id="msg-input" type="text" name="message" placeholder="Type Message ..." class="form-control">
                                    <span class="input-group-btn">
                                        <button id="say" type="button" class="btn btn-success btn-flat">Send</button>
                                    </span>
                                </div> -->
                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>
                </div>
                <!-- setting -->
                <div id="chat-setting-container" class="col-sm-3 chat-setting-container">
                   <!--  <form class="form-horizontal">
                        <div class="form-group">
                            <label for="" class='control-label'>通知声音</label>
                            <input type="checkbox" name="my-checkbox" checked>
                        </div>

                    </form> -->
                    <div class="cst-header">
                        
                        <div class="cst-header-tabs highlight">用户资料</div>
                        <!-- <div class="cst-header-tabs">其他1</div>
                        <div class="cst-header-tabs">其他2</div> -->
                    </div>
                    <div class="users-info">
                        <div class="userinfo">
                            <span class="nick-namek">昵称：</span>
                            <span class="nick-namev">小丫丫</span>
                        </div>
                        <div class="userinfo">
                            <span class="sexk">性别：</span>
                            <span class="sexv">男</span>
                        </div>
                        <div class="userinfo">
                            <span class="agek">年龄：</span>
                            <span class="agev">24</span>
                        </div>
                    </div>
                    <!-- <div class="users-info tohide">
                        <div class="userinfo">
                            <span class="nick-namek">其他1昵称：</span>
                            <span class="nick-namev">111</span>
                        </div>
                        <div class="userinfo">
                            <span class="sexk">其他1性别：</span>
                            <span class="sexv">男1</span>
                        </div>
                        <div class="userinfo">
                            <span class="agek">其他1年龄：</span>
                            <span class="agev">11</span>
                        </div>
                    </div>
                    <div class="users-info tohide">
                        <div class="userinfo">
                            <span class="nick-namek">其他2昵称：</span>
                            <span class="nick-namev">222</span>
                        </div>
                        <div class="userinfo">
                            <span class="sexk">其他2性别：</span>
                            <span class="sexv">男2</span>
                        </div>
                        <div class="userinfo">
                            <span class="agek">其他2年龄：</span>
                            <span class="agev">24</span>
                        </div>
                    </div>   --> 
                </div>
                
            </div>

        </div>
    </div>

    <!-- 输入用户名的modal -->
    <!-- fade会有动画效果 -->
    <div class="modal fade" id="init" tabindex="-1" data-backdrop='static' role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div ng-controller="sign" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="form-horizontal">
                        <div class="form-group">
                            <div class="user-box">
                                <span class="wname">用户名</span>
                                <input ng-model='username' class="enter-box" type="text" name="username" id="username" placeholder="请输入用户名"/>
                            </div>
                            <div class="passsword-box">
                                <span class="wname">密码</span>
                                <input class="enter-box" type="password" placeholder="请输入密码"/>
                            </div>
                            <!-- <div class="security-code_box">
                                <span class="wname">验证码</span>
                                <div class="enter-box">
                                     <input class="inupt-lbox" type="text" placeholder="请输入验证码"/>
                                    <img src="" alt="" />
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="col-sm-3 col-sm-offset-4">
                        <button ng-click='signUser()' type="button" class="btn btn-primary">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <audio id="audio">
        <source src="/public/app/audio/msg.wav" type="audio/wav">
    </audio>
    
</body>

<script src="/public/libs/jquery/jquery-2.2.3.js" charset="utf-8"></script>
<script src="/public/libs/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/public/libs/bootstrap.switch/js/bootstrap-switch.js" charset="utf-8"></script>
<script src="/public/libs/angular/angular.js" charset="utf-8"></script>
<script src="/public/libs/viewer/viewer-jquery.min.js" charset="utf-8"></script>
<script src="/public/libs/ajaxfileupload/jquery.ajaxfileupload.js" charset="utf-8"></script>
<script src="/dist/app.js" charset="utf-8"></script>
<script type="text/javascript">
    var $tabList = $(".cst-header-tabs");
    var $usersIs = $(".users-info");
    for (var i = 0; i < $tabList.length; i++) {
        $tabList[i].index = i;
        $tabList[i].onclick = function(){
            $(".cst-header-tabs").removeClass("highlight");
            $(this).addClass("highlight");
            $usersIs.hide();
            $usersIs[this.index].style.display = "block";
        };
    };
</script>
</html>
